mixin header(user)
  div.header
    div.header-item
      a(href=`/home`) home
    div.header-item
      a(href=`/r/all`) all
    div.header-item
      a(href=`/search`) search
    div.header-item
      a(href=`/subs`) subs
    div.header-item 
      a(href=`/dashboard` title=`dashboard`)
        img(src=`/icons/reddit-silhouette.svg` style='height: 1.25rem;')
