mixin head(title)
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset='UTF-8')
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="theme-color" media="(prefers-color-scheme: light)" content="white")
    meta(name="theme-color" media="(prefers-color-scheme: dark)" content="#0d1117")
    meta(name="description" content="self-hostable, read-only reddit client")
    title #{`${title} · lurker `}
    link(rel="mask-icon" href="/icons/reddit-silhouette.svg" color="#ff4500")
    link(rel="manifest" href="/manifest.json")
    link(rel="icon" sizes="512x512" href="/icons/reddit-silhouette-512x512.png")
    link(rel="icon" sizes="256x256" href="/icons/reddit-silhouette-256x256.png")
    link(rel="icon" sizes="192x192" href="/icons/reddit-silhouette-192x192.png")
    link(rel="icon" sizes="128x128" href="/icons/reddit-silhouette-128x128.png")
    link(rel="icon" sizes="64x64" href="/icons/reddit-silhouette-64x64.png")
    link(rel="icon" sizes="32x32" href="/icons/reddit-silhouette-32x32.png")
    link(rel="stylesheet", href="/styles.css")
    link(rel="preconnect" href="https://rsms.me/")
    link(rel="stylesheet" href="https://rsms.me/inter/inter.css")
    script(src="https://cdn.dashjs.org/latest/dash.all.min.js")
